<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fatjay"
    android:versionCode="1"
    android:versionName="0.8.2" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:name=".main.userinfo">
        <activity
            android:label="@string/app_name"
            android:name=".main.LilyActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".function.top"
            android:label="top"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".function.favor"
            android:label="favor"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".function.hotpot"
            android:label="hotpot"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".function.allboard"
            android:label="allboard"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".function.options"
            android:label="options">
        </activity>
        <activity 
            android:name=".subfunction.threadList"
            android:label="threadList"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.hotThread"
            android:label="hotThread"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.mainPageBoard"
            android:label="mainPageBoard"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.searchBoard"
            android:label="searchBoard"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.favorBoard"
            android:label="favorBoard"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.moreFavor"
            android:label="moreFavor"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.threadContent"
            android:label="帖子内容"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.threadImage"
            android:label="图片浏览"
            android:theme="@android:style/Theme.Light">
        </activity>
        <activity 
            android:name=".subfunction.newThread"
            android:label="新回复"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
            android:name=".subfunction.userAction"
            android:label="发信给用户"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.hotbrd"
            android:label="热门版面"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.recbrd"
            android:label="推荐版面"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:theme="@android:style/Theme.Black.NoTitleBar" 
            android:label="快速发帖" 
            android:name=".subfunction.quickPost">
			<intent-filter android:label="@string/quickpost"> 
				<action android:name="android.intent.action.SEND" /> 
				<data android:mimeType="image/*" />
				<category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
        </activity>
        <activity 
            android:name=".subfunction.mail"
            android:label="邮件"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.maillist"
            android:label="邮件列表"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.mailContent"
            android:label="邮件内容"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".main.about_the_author"
            android:label="关于作者"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
            android:name=".subfunction.searchDlg"
            android:label="快速跳转"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
            android:name=".subfunction.FingerPaint"
            android:label="涂鸦"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity 
            android:name=".subfunction.imageSelector"
            android:label="表情选择"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
            android:name=".subfunction.cccDlg"
            android:label="快速转载"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>